/* Start Variables */

:root {
    --parag-color: #A0A6CD;
    --bg-color: #080D27;
    --text-color: #98B269;
    --btn-color: #2F3CF4;
    --white-color: #fff;
    --section-padding: 100px;
}

/* End Variables */

/* Start Global Rules */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* Small */
@media (min-width:768px) {
    .container {
        width: 750px;
    }
}

/* Medium */
@media (min-width:992px) {
    .container {
        width: 970px;
    }

    html {
        font-size: 90%;
    }
}

/* Large */
@media (min-width:1200px) {
    .container {
        width: 1170px;
        background-color: red;
    }
}

/* End Global Rules */
/* Start Component */
.header-text {
    text-align: center;
    position: relative;
    margin-bottom: 4rem;
}

.header-text h2 {
    color: var(--white-color);
    font-size: 2.5rem;
    position: relative;
    width: fit-content;
    margin: 0 auto;
}

.header-text h2::before {
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: var(--parag-color);
    left: -15%;
    top: 50%;
    transform: translateY(-50%);
}

.header-text h2::after {
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: var(--parag-color);
    right: -15%;
    top: 50%;
    transform: translateY(-50%);
}

.header-text p {
    color: var(--parag-color);
    position: relative;
    top: 3px;
    letter-spacing: 1px;
    width: 100%;
}

@media (max-width: 767px) {
    .header-text h2 {
        color: var(--white-color);
        font-size: 1.8rem;
    }
}

/* End Component */
/* Start Header */
header {
    position: absolute;
    z-index: 2;
    left: 0;
    width: 100%;
    padding: 2rem 0 0 0;
}

@media (max-width:992px) {

    html {
        /* font-size: 55%; */
    }
}

header #toggler {
    display: none;
}

header .container {
    position: relative;
    max-height: 100vh;
}

header .container nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--white-color);
    gap: 1rem;
}

header .container nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* font-size: 1.1rem; */
    font-weight: 600;
    flex: 1;
    padding: .75rem 0;
    text-transform: uppercase;
    position: relative;
}

@media (max-width: 767px) {
    header .container nav ul {
        font-size: 50%;
        padding: unset;
        display: none;
    }
}

header .container nav ul::before {
    content: '';
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: var(--btn-color);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

header .container nav ul li:hover {
    text-decoration: underline;
    cursor: pointer;
    font-size: 1.25rem;
    transition: .5s;
}

header .container nav ul li a {
    color: var(--white-color);
}

header .container nav .logo {
    display: flex;
    align-items: center;
    gap: .5rem;
    font-size: 2.5rem;
    font-weight: 800;
    padding: .5rem 4rem;
    margin: 0 8rem;
    color: white;
}

@media (min-width: 768px) and (max-width: 1011px) {
    header .container nav .logo {
        margin: 0;
        padding: 0.5rem 1.5rem;
        font-size: 1.5rem;

    }

    header .container nav ul li {
        font-size: .7rem;
    }
}

@media (max-width: 767px) {
    header .container nav .logo {
        order: -1;
        padding-left: 0;
        padding-right: 0;
        font-size: 1.8rem;
        margin: 0;
    }
}

header .container nav .logo img {
    width: 40px;
}


header .container nav .list-icon {
    display: none;
}

/* Start Responsive Nav */
@media (max-width: 767px) {
    header .container nav .list-icon {
        display: block;
        font-size: 1.65rem;
        cursor: pointer;
        position: relative;
    }

    header .container nav #toggler:checked~.list-icon::after {
        content: "";
        position: absolute;
        border-style: solid;
        border-color: transparent transparent rgb(0, 0, 0, .5) transparent;
        border-width: 16px;
        top: 9px;
        right: -4px;
        z-index: 5;
    }

    header .container nav #toggler:checked~ul {
        display: block;
        position: absolute;
        padding: 0;
        font-size: 1.1rem;
        max-width: 100%;
        width: 100%;
        background-color: rgb(0, 0, 0, .5);
        z-index: 5;
        right: 12px;
        left: 0;
    }

    header .container nav .left-links {
        top: 100%;
        border-top-left-radius: .75rem;
        border-top-right-radius: .75rem;
    }

    header .container nav .right-links {
        top: 313%;
        border-bottom-left-radius: .75rem;
        border-bottom-right-radius: .75rem;

    }

    header .container nav .right-links li,
    header .container nav .left-links li {
        padding: 1.19rem;
        width: 100%;
        border-bottom: 1px solid var(--white-color);
    }

    header .container nav ul li:hover {
        padding-left: 35px;
        transition: .5s;
        text-decoration: none;
        font-size: 1.15rem;
    }

    header .container nav .right-links li:last-child {
        border-bottom: 0;
    }

    header .container nav ul::before {
        display: none;
    }
}

/* End Responsive Nav */
/* End Header */

/* Start Main */
.main {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    height: max-content;
    width: 100%;
    background: linear-gradient(140deg, var(--bg-color), #101A4F);
}

.main .container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;
}

@media (max-width:767px) {
    .main .container {
        flex-direction: column;
        margin-top: 0;
    }
}

@media (min-width:768px) {
    .main .container {
        padding-top: 8rem;
    }
}

.main .container .text {
    flex: 1;
}

.main .container .text strong {
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    color: var(--text-color);
}

.main .container .text h1 {
    font-size: 5.5rem;
    font-weight: bolder;
    letter-spacing: -1px;
    color: var(--white-color);
    line-height: 1.2;
    margin: 0 0 2rem;
}

@media (max-width:767px) {
    .main .container .text h1 {
        font-size: 2rem;
    }
}

.main .container .text p {
    font-size: .975rem;
    color: #A0A6CD;
    line-height: 2;
    max-width: 300px;
    width: 100%;
    margin-bottom: 2rem;
}

@media (max-width:767px) {
    .main .container .text p {
        font-size: .75rem;
    }
}

.main .container .text a {
    display: block;
    text-align: center;
    color: var(--white-color);
    background: linear-gradient(145deg, #182764, #2F3CF4);
    width: fit-content;
    padding: 1rem 2.5rem;
    border-radius: .5rem;
    transition: .5s;
    margin-bottom: 2rem;
    font-size: 1.1rem;
    box-shadow: 0 0px 55px rgba(255, 255, 255, 0.20);
}

.main .container .text a:hover {
    box-shadow: 0 0px 55px rgba(255, 255, 255, 0.45);

}

@media (max-width:767px) {
    .main .container .text {
        text-align: center;
    }

    .main .container .text a {
        margin-left: auto;
        margin-right: auto;
        padding: 1rem 2rem;
        white-space: nowrap;
    }
}



.main .container .text a i {
    margin-right: 1.5rem;
    color: var(--white-color);
}

.main .container .side-image {
    flex: 1;
    text-align: center;
}

@media (max-width:767px) {
    .main .container .side-image {
        order: -1;
        margin-top: 25px;
    }
}

.main .container .side-image img {
    width: 100%;
    transition: .7s;
    animation: brighten 2.7s linear 1;
}

@keyframes brighten {
    0% {
        opacity: .3;
    }

    100% {
        opacity: 1;
    }
}

@media (max-width:767px) {
    .main .container .side-image img {
        max-width: 300px;
        width: 100%;
    }
}

/* End Main */
/* Start Features */
.features {
    padding-top: 50px;
    padding-bottom: var(--section-padding);
    margin-top: -1px;
    width: 100%;
    background: linear-gradient(40deg, #080D27, #101A4F);
}

.features .container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 2rem;
    margin-bottom: 2rem;
}

@media (max-width: 767px) {
    .features .container {
        flex-direction: column;
        text-align: center;
    }
}

.features .container .left,
.features .container .right {
    flex: 1;
    padding: 2rem 2rem 0;
    box-shadow: 0 0px 55px #080d27;
}

.features .container .left,
.features .container .right {
    border: .1px solid #f3f3f310;
    border-radius: 1.5rem;
}

.features .container .left .icon,
.features .container .right .icon {
    margin-bottom: 2rem;
}

.features .container .left .icon i,
.features .container .right .icon i {
    font-size: 4rem;
    color: var(--white-color);
    background-color: var(--btn-color);
    border-radius: 50%;
    padding: .5rem;
}


.features .container .left .text strong,
.features .container .right .text strong {
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    color: var(--text-color);
    margin-bottom: 2rem;
    display: inline-block;
}

.features .container .left .text h2,
.features .container .right .text h2 {
    font-size: 2rem;
    font-weight: bolder;
    letter-spacing: -1px;
    color: var(--white-color);
    line-height: 1.2;
    margin: 0 0 2rem;
}

.features .container .left .text p,
.features .container .right .text p {
    font-size: 1.1rem;
    color: var(--parag-color);
    line-height: 1.6;
    margin-bottom: 2rem;
    width: 100%;
}

@media (max-width: 767px) {

    .features .container .left .text p,
    .features .container .right .text p {
        font-size: .800rem;

    }
}

.features .container .left .text a,
.features .container .right .text a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    gap: 1rem;
    margin-bottom: 2rem;
    width: fit-content;
    color: var(--white-color);
    background: linear-gradient(145deg, #182764, #2F3CF4);
    padding: 1rem 2.5rem;
    border-radius: .5rem;
    transition: .5s;
    box-shadow: 0 0px 50px rgba(255, 255, 255, 0.15);

}



@media (max-width: 767px) {

    .features .container .left .text a,
    .features .container .right .text a {
        width: 100%;
        padding: 1rem 0rem;
    }
}

.features .two {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    padding: 2rem 0;
}

@media (min-width:768px) {


    .features .two {
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    }

    .features .two .card:not(:first-child) {
        border-left: 1px solid var(--btn-color);
    }
}

.features .two .card {
    text-align: center;
}


.features .two .card .icon {
    margin-bottom: 2rem;
    color: var(--white-color);

}

@media (max-width: 767px) {
    .features .two .card .icon {
        margin-bottom: 1rem;
    }
}

.features .two .card .icon i {
    background: linear-gradient(145deg, #182764, #2F3CF4);
    padding: 1rem;
    transition: .5s;
    box-shadow: 0 0px 50px rgba(255, 255, 255, 0.15);
    border-radius: 50%;
}

.features .two .card p {
    font-size: .800rem;
    color: var(--parag-color);
}

/* Start Features */